<a name='about-hapkido'>
  <h2 class="text-center">Hapkido</h2>
</a>

<div class='container'>
  <div class='row padded-children'>
    <div class="col-md-6">
      <p>
        <%= image_tag 'https://lh3.googleusercontent.com/Qgw_Dfqa2x5znUaIDOzQusqDUMSAVdVJie36EYGeSkXB4JUSys6FghmM82dPSCDyCYD9P6K0ClH63YfyLxJvYTAqGR_2kPCCshy_E6Kn5WbG5HazfAoRCSb2X4tBMCWqTJblmxu5C9XFpWZL2ZewWk68O5yNVFPvG4Vf9yoreiIuHas3Q3Pzv2yg0E_xp5RK_LT3p7l0v2QtxN654vqzfKjWAgGI8BivTdOCAOfnJMUElw0ZLVfEzueSi90Wvu50D1iJcHtVsfZYxNzteyI7AIpaj0nSLrb6MqLBYyM9jdBvmAWIznW5-ESGwZzmIxbXl1HHSRqwf8eEFMH8W7nYqzX48CVBKCGPGZL-8urImKQr5vry97W_5zGp-1MARCp_B9ONhBmg1V12-FQJjuMeKA2g91gf4kOXGS7lkHVmp3e0Fj125K7sWNpb4WEVW-ldkvYzhgSSPf8BsnsUUFmy8SWKJEvbcWUYBhF0ptV5pKMkrFaRWDvhVu7UoEwfZdQLWIFHcGBcxT-7ioKrG4AohYO03twzDr85tIWlF8BZqqs=w671-h455-no', class: "img-responsive" %>
      </p>
    </div>
    <div class="col-md-6">
      <p>
        Hapkido is not nice, It is not a sport, or a tournament based martial art that is based on a point system to declare a winner or loser, it is a practical and effective form of self defense. Hapkido attempts to be a complete fighting style, rather than a specialized art form and can be learned by both men and women of all ages.
      </p>
    </div>
  </div>
</div>

<a name='about-kwon-moo-hapkido-federation'>
  <h2 class="text-center">Kwon Moo Hapkido Federation</h2>
</a>

<div class='container'>
  <div class='row padded-children'>
    <div class="col-md-6">
      <p>
        <%= image_tag 'https://lh3.googleusercontent.com/eoLbGlqHunr111bB5d_-Fla6u-QqgZo6kt9hTYWbt8KxAtv0pxDJZISv_JgxoWNjPTdKU35jocFz1ZLg_xM3w6tdssopn6EK1yqCPXAFfd4hMvT6llrZeQyF9lGfUlg9BNxbTIAMTNtqa8niYVVkhorAmh92baQOp1Uf1NMYJmyYbDVT1ItdefQcQrVdfKDSKmP7wX2v3v2xMEBpJvJdU6IkQr0myyrb7w9GkoOvFmJ9FC6EEcU05opPOrZEbprFpNqL62bVBctfiDdJl4b2Zmidgb_nRCKWQXeY0YrjQcn3FMSus7POXkbt2JQnLjsjIorcy8lWz2cf9OUscLHRW7EyVlJjSGB2sZnoiwJ5Q6yLaI-brrHJxmp9bFD6VRSttrcoEJMOx1ICFSxGAbAbxuAf9ChlW_2Td9quMStlDEk7fQYm6aICZuJpd-bn3lIsg7Xq_XV53WW8GQIUmwkM1xHO31bsvMEPcGxXuOWrfhTlsqLlYRyupbvPmZ1f5rXDm9Y1mYBbwrv8oGtCc9RiU2OsiPvpepwUMKWB14L7dCE=w606-h377-no', class: "img-responsive" %>
      </p>
    </div>
    <div class="col-md-6">
      <p>
        Kwon Moo Hapkido developed by Grandmaster Chae Un Kim that has dedicated over 50 years of experience to Martial arts. Over his lifetime he has pressed himself in the refinement and development of the most effective and simple techniques to end a fight from within Hapkido. Which gave birth to his Kwon Moo style of Hapkido that has truly developed a signature technique of full body power that sets itself apart from even traditional Hapkido.
        <br><br>
        What you will learn from the Kwon Moo Hapkido Federation, is a very solid and effective foundation in any range of physical conflict you may face. Where most forms of martial arts that promote “Self Defense” only focus on one specific range of fighting such as kicking or punching but the federation realizes that this is not a practical form of self defense. To be a true school of self defense you must be prepared to counter and respond to many ranges of attack you may face in the real world from weapons, kicks, punches, grabs, chokes, throws and even being taken to the ground.
        <br><br>
        Characteristics of Kwon Moo Hapkido that jump out to someone new to the form and predominantly sets itself apart from other well known forms of martial arts. Counter offensive, as in we do not initiate a fight or make first contact, we let our attacker make that mistake and then finish the fight. Other characteristics include: The focus of basic knock out power punches, lead leg kicks, pressure points, Joint locks (joint brakes, A.K.A. “Twisting”) and take downs. Our motto is “ONE MOVE OUT!” as in lights out!
      </p>
    </div>
  </div>
</div>

<a name='about-grandmaster-kim'>
  <h2 class="text-center">Grandmaster Kim</h2>
</a>

<div class='container'>
  <div class='row padded-children'>
    <div class="col-md-6">
      <p>
        <%= image_tag 'https://lh3.googleusercontent.com/Mk3_5J9QKDgKgThiH7rve-fr4yvcq1txiLabAA5ayIhSf_crzEW3d38n5suhiCydRy9xV4GPTeLzg2r09ifQIpUGgBmTUffb-igce4cwnIxv1MPH1IwRQZdqFbYUB_rMHvMpwq6n3igr4BqQUY0Bvt9n_Gbtr08h55LTZx_W17BwgpYoNlaLgBK6X39wSfXREoyruUtVAYvRMvRCKZ2erXEQkgd9s5Sq7gcR55JkYgVSX8bIhH0bAb4AkQnP5AH3qg-cp4A1JO7kQHOcphGoI5UwoU3OBUIh0Z_uXD36CKZs8y1q1UZxNQ_bcA3wEFLImKpfxYoV04IjZOe_Zgkc_hpYNL1Pcvu--kthCu48ydiW_KrhwmFnSuy8ryq_6JgRX1y1c6bu-ddglRZKiS9AvUwhC1_CPmEUfQN4fu6CsGeDL5Et4fWPyLnIIy12HMy1TEe1dACxG053CVmC9H8C2Ji4QR3jUB-v0Us2TIem-KsMgrxLtkiAmI7IAsGsSxwyQpsic-jdf07TrazaNqmJc51zNWZAJtAb4CEcAMy_lKk=w503-h676-no', class: "img-responsive" %>
      </p>
    </div>
    <div class="col-md-6">
      <p>
        Grand Master Chae Un Kim has an 8th degree Black Belt in Hapkido and also holds black-belts in Taekwondo and Tang Soo Do. His techniques are a blend of traditional Hapkido, Western boxing, and Buddhist Monk techniques. His dream and goal is to leave a quality legacy of Hapkido behind for generations to come. His dedication is unparalleled, having spent 48 years teaching, perfecting his technique and upon coming to the US from South Korea created his own style of Hapkido. Master Kim’s Style is so effective, It has been taught to Special Forces in South Korea and the United states as well as military police and S.W.A.T. Members. Master Kim has created a family friendly refuge for adults and kids to dedicate themselves in the value, success and the power of practical physical/mental mind frame of self defense. Master Kim is not going to teach you how to dance but how to end a fight as quickly as possible, ONE MOVE OUT, affectionately also called ONE MOVE SLEEP.
      </p>
    </div>
  </div>
</div>

<div class='container'>
  <div class='row padded-children'>
    <div class="col-md-6">
      <p>
        <%= image_tag 'https://lh3.googleusercontent.com/UW0FWmzStMdYOppuArDye_bI1w2A66CFC3zxs0cfHqxNlJV5XjKfbJx2WiX6f18W_YeK0OW1o4ih3ogRWTGIitWGfP3KsIvYfVkuLAH6UlaIN0ZXTE8u5J2feH44zbi2w7CEMqjX3zUTYS8TmU2BAw4bog6M4yPg5WGdNQEafAih7L6xjeyLCq-ikDamxrhm2jW_jgIPixRsUDXzXi70H0gTj2pjiLgKBIDHjnszX7psrHfS7cgNd1_B-1b3YXmPpS216aBFSizJ2vXJvMeB42UW-W7Q3YGcPXjveiXdwAUj4cEPwNz4KTwYnmnlfahTAAgAigX_1UgQK9t5nGMdhZhgMx8SUY67XAAChKsgItTrIKH18UoFJCigqhuIcTOtWsOff2CX5qzRaYfQjbJ8pSKdv2GaI6Dr3hS9bhjPzMf4srS0Z3Uez73CCESorPO37YR1mO-SGVuFu--MCXossHNWCKTCESJhoVxqbzz1SV1e_11OX5khZuLUkuF3eqA2_X814PtFNZBk60fK__ngjYhrqK69D31C2qWOIQXNSrM=w1149-h780-no', class: "img-responsive" %>
      </p>
    </div>
    <div class="col-md-6">
      <p>
        Grand Master Chae Un Kim is one of about ten true 8th degree dan black belt still teaching Hapkido in the world. Born and raised in Choong Chung, Buk Do South Korea in 1951, he started his journey of martial arts at the age of five and at thirteen received his first black belt in Tang Soo Do. From there his sites turned to Yawata, a form that he felt was more fitting for him. Yawata was predominately a Japanese mixed martial art that translates as Aikido but also incorporated, Judo, Taekwondo and a South Korean influence of Tang Soo Do.  Yawata was renamed Hapkido by the leading masters in South Korea that felt they need to further disconnect themselves from the Japanese after declaring independence as a country. He received his instruction in Hapkido from Kwaang-Hae Soo for the next three years until receiving his 2nd degree black belt given that his former black-belt knowledge in Tang Soo Do helped progress his education. Upon graduating high school at the age of seventeen he spent the next three years receiving instruction from eight different masters all of which had their own speciality or focus within Hapkido. At the age of 21 in South Korea you are enrolled in the military, and knowing his martial arts background, the military asked him to teach Hapkido to the soldiers during his three years of service.
      </p>
    </div>
  </div>
</div>

<div class='container'>
  <div class='row padded-children'>
    <div class="col-md-6">
      <p>
        <%= image_tag 'https://lh3.googleusercontent.com/FHANlwzV_au0kC3Nj-haT2Rq5zf7MoYPJERcBGMzGGdWWgefdsRYOVV8xKQIdJoL3VukZwk-jeKPUnOvuo-ZYkTsVYzG_uajOtyCJ4aEV4MSdkx9A1Zjar4pUK8tpq3I6xEG9zLyZ5wSywZsU1Bbl77A1Mo5awv4zWzS7VGumHyEGxVAh9LrF702PiYS4pFpVqbt8-fyBNUI9fGO-QIeNXTtMjbs072IypdUNtBd5euQo5YS-8BL6YMQIJrkrye4wj9SMe67C8Lx_ck8j0D8RNbV6yVTBrdomYFl3W0JpisOLo037HSJY5DDKDjbZjtavgZHpBlmKHpzhVCD7fbjrxdLlOnySvHT9umR0iE6x2g5ZCe6Xk_qZugWr0R8cK_3BfE1dyJSFAtLE6dL8r9VBL5DqBqTUCS2dxtKPaXnnPyAg8Sb84233f50xKLisYDwljdP1Fr3UobGuXlJO1i_TM8sbNlAEL0jTy5SCqg01VU-t4SFdWVXeTSk-uuqUZNVmuqR7lHMmXayE9xbukzX8qoYsT1RX9A8Eqy5L2gWR781LhIhBXOApQgzA1uZdqTKJ-Os=w1156-h772-no', class: "img-responsive" %>
      </p>
    </div>
    <div class="col-md-6">
      <p>
        During his military service he visited a Buddhist monastery and noticed Hapkido training weapons upon the wall. He was introduced to Seok Chung, a 62 year old Monk. During their first meeting they collaborated their interest, demonstrated and shared their history in Hapkido. Which ended in Seok Chung telling Master Kim that he had been instructed wrong. Upon demonstration Master Kim found Seok Chung's full body technique very effective and they came to an agreed arrangement so that Master Kim could receive instruction from Seok Chung. While training and instructing soldiers at a nearby military base. Master Kim visited Seok Chung 4 to 5 times a week for about six months to receive instruction to greatly improve upon his technique that he had been building for years.
      </p>
    </div>
  </div>
</div>

<div class='container'>
  <div class='row padded-children'>
    <div class="col-md-6">
      <p>
        <%= image_tag 'https://lh3.googleusercontent.com/kVeBsmdLBJA-V5KKVCCHgSYFTLx3eWYlpI4egnhtXxOVGiLU9YJFXS8unYhsb1VUQW0FhSBa7fX5IMsQcl1-VwnJkMp0Izh0EAV8ROJR5BCqy4SUqdi3Q1Ou9g5P-jjwzgn-iyBm7kGr0q2nIIsOvhf4ehKLTOuyxcut38_J5-hMvCo2F_9IHJ3yOjSxT5isQB6VCtlw9Grz6qZgkLqJVghcPRehmXtE9O3Ne8HOZ3Y7DP7UEX-kkYM2lwIAbwwKHVlR1poH3sN6ITW8H8KW7MktuM-KB4oDN74L6t4XYgry8Rd55eY19mei_jrogs8EmjkBvSWcJg5mn4AINik75FiazNj72YWPYLVBXwQL9wML25g5bymCy6oD_rx-da86uOv9nGgshEagbmvDW_CZkofa-til4pby_mD8lAoHhHxKtLsh18yKxBns78A2u2p9Vz0vC5xCOMEfB21LaBNHJT_71ftXZdXuscVaSPuKJnMF0PdI6Pp2Z0DWbLCNhRgWiDcEyF7QpcIQ8pZw8yYFuXxJ6u6anxX4d3XpX8O8V3uaIBZ23KFvDJdoH0Mas_t-LgoD=w1195-h792-no', class: "img-responsive" %>
      </p>
    </div>
    <div class="col-md-6">
      <p>
        Once his three year enlistment in the military was over he requested to open his one school from the local government and they granted him permission to teach based on his experience. Throughout the next seven years Master Kim taught Hapkido in South Korea and 1981 at the age of thirty decided to move to America to open up a new school. When finding a business space to rent out in West Seattle he was surprised how easy it was to get a business license because back home in South Korea the government must find you and your credentials credible to start a quality and honest business to the public. Coming to find out America was full of people trying to make an un honest quick buck in the world of martial arts with very little quality. He wanted to strive out and show Americans what true quality but faltered when realizing that a lot of his technique was not effective on “these big Americans” and did not want to continue teaching something that did not work and was pondering on the idea of closing his school. One night while at home watching T.V. a documentary on Buddhist Monks flashed on the screen as he was skimming through the channels and the answer to his problem hit him. After all those years being submerged in the world of Hapkido and all the influences that was around him for so many years he had forgotten Seok Chung, the Buddhist Monk that had taught him his full body technique. The time spent with the monk just came crashing back to him and quickly started to reform his classes to incorporate a system that will undoubtedly be effective on these “big guys.” Which gave birth to his own style Kwon Moo Hapkido which has been very effective form of self defense and the rest as you would say is history.
      </p>
    </div>
  </div>
</div>
